<facets-reset>
  <button class="reset { isDefaultView() ? props.classHidden : props.classShown }" 
          aria-label="Auswahl zurücksetzen"
          onclick={ resetState }>
      <i class="fas fa-times fa-lg mr-2"></i><span>alles zurücksetzen</span>
    </button>
</facets-reset>