
<facets-select>

  <form action="javascript:void(0);" class="facet" role="form">
     <select class="form-control" onchange="{ changeState }" data-type="{ props.type }" aria-label="{ props.aria }">
      <option value="" data-type="{ props.type }">- Alle -</option>
      <option each={ item in props.items } 
              value="{ item.id }" selected={ item.selected } disabled="{ item.disabled }">{ item.value }</option>
    </select>
  </form>

</facets-select>