<facets-submit>
    <form action="{ props.action }" method="POST" class="facet" role="form" onsubmit={ onSubmit }>
        <input type="submit" value="Fördermittel finden" class="btn btn-primary"/>
        <input type="hidden" id="terms_index" name="terms_index" value=""/>
    </form>
</facets-submit>