{#
/**
 * Partial to render a node teaser. 
 */
#}

<article class="teaser px-7">
    <div class="row no-gutters">
        <div class="col-md-9">
            {% include '@vzbv_generic/content/_teaser_inner.html.twig' %}
        </div>
    </div>
</article>
<hr class="w-100"/>