<ul class="nav meta-nav p-3 mt-3">
{% for item in data %}
  {% if item.type == 'nav-item' %}
    <li class="nav-item">
      <a href="{{ item.url }}" aria-label="{{ item.name }}" class="nav-link">
        {{ item.name }}
      </a>
    </li>
  {% endif %}
{% endfor %}
</ul>
