
<div class="component--type--kfw-checklist text-center mt-5">
  <iframe id="kfw-checklist" 
          src="/{{ directory }}/templates/checklist/index.html" 
          scrolling="no" 
          frameborder="0" 
          style="width: 100%; min-width: 100%; max-width: 1200px;"></iframe>
  <script src="//cdn.jsdelivr.net/npm/iframe-resizer@4.2.8/js/iframeResizer.min.js"></script>
  <script>iFrameResize({ heightCalculationMethod: 'documentElementOffset' }, '#kfw-checklist')</script>
</div>
