<!DOCTYPE html>
<html lang="de">
<head>
  <title>KfW Baukindergeld</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="dist/styles/vendor-193e3cb.min.css" />
  <link rel="stylesheet" href="dist/styles/application-5b4bbab.min.css" />
</head>
<body>

  <div class="container">
    <div id="app"></div>
  </div>

  <script src="dist/scripts/common-a7f08ad.min.js"></script>
  <script src="dist/scripts/application-8ecacdf.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/iframe-resizer@4.2.8/js/iframeResizer.contentWindow.min.js"></script>

</body>
</html>
