<a href="{{ url('<front>') }}" title="Startseite" aria-label="Link zur Startseite">
    <img src="{{ theme_path }}/images/logo-baufoerderer-web.svg" aria-label="Logo des Bauförderers">
    <span>bau</span><span>foerderer.de</span>
</a>
<a href="https://www.vzbv.de" title="Verbraucherzentrale Bundesverband e.V." 
   aria-label="Link zum Verbraucherzentrale Bundesverband">
  <img src="/{{ directory }}/images/vzbv-logo.png" title="Verbraucherzentrale Bundesverband e.V." 
       aria-label="Logo des Verbraucherzentrale Bundesverbands" class="vzbv">
</a>