{% extends "page.html.twig" %}

{% block lead %}
    
  <div class="lead--subsidy-teaser">
    {{ drupal_block('bfd_subsidy_search_teaser', { type: 'history_back' }, wrapper = false) }}
  </div>

{% endblock %}
      